@font-face {
    font-display: swap;
    font-family: "Georgian";
    font-style: normal;
    font-weight: 400;
    src: url("../../../../assets/fonts/Georgia/noto-sans-georgian-v36-latin-regular.woff2") format("woff2"),
        url("../../../../assets/fonts/Georgia/noto-sans-georgian-v36-latin-regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Georgian";
    font-style: normal;
    font-weight: 700;
    src: url("../../../../assets/fonts/Georgia/noto-sans-georgian-v36-latin-700.woff2") format("woff2"),
        url("../../../../assets/fonts/Georgia/noto-sans-georgian-v36-latin-700.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("../../../../assets/fonts/Lato/Lato-Regular.woff2") format("woff2"),
        url("../../../../assets/fonts/Lato/Lato-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    src: url("../../../../assets/fonts/Lato/Lato-Medium.woff2") format("woff2"),
        url("../../../../assets/fonts/Lato/Lato-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    src: url("../../../../assets/fonts/Lato/Lato-Heavy.woff2") format("woff2"),
        url("../../../../assets/fonts/Lato/Lato-Heavy.woff") format("woff");
}
