$c-main-text: #424242;
$c-second-text: #484848;
$c-header-nav: #292929;
$c-white: #ffffff;
$c-black: #000000;
$c-title: #01996d;
$c-bg-btn: #01996d;
$c-bg-section: #245852;
$c-number: #01996d33;
$c-active: #1c2bfa;
$c-bg-hero: #c4c4c4;
$c-border: #d6d6d6;
$c-bg-img: #01996d33;
