$fs-main-text: 20px;
$fs-hero-title: 65px;
$fs-section-title: 50px;
$fs-subtitle: 25px;
$fs-footer-nav: 25px;
$fs-logo: 40px;
$fs-list-title: 30px;
$fs-small-card-text: 11px;
$fs-small-card-name: 12px;
$fs-small-card-title: 16px;
$fs-small-card-subtitle: 15px;
