.description {
    padding: 169px 0 51px 0;

    &__body {
        display: flex;
        gap: 136px;
        margin-bottom: 70px;
    }

    &__wrapper {
        width: 50%;
    }

    &__text {
        width: 50%;
        padding-top: 58px;
    }
}

.description-steps {
    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 390px;
    }

    &__item:nth-child(2) {
        padding-top: 200px;
    }

    &__box {
        position: relative;
    }

    &__number {
        font-family: "Georgia", sans-serif;
        font-weight: 400;
        font-size: 150px;
        color: $c-number;
    }

    &__title {
        font-family: "Georgia", sans-serif;
        font-weight: 700;
        font-size: $fs-list-title;
        line-height: 1.5;
        color: $c-black;
        position: absolute;
        bottom: 45px;
        left: 88px;
    }

    &__title:nth-child(2) {
        left: 77px;
    }

    &__text {
        margin-bottom: 60px;
    }

    &__img {
        width: 100%;
    }
}
