.header {
    padding: 17px 0;

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 35px;
    }
}

.header-buttons {
    &__link {
        font-size: $fs-main-text;
        line-height: 1.2;
        color: $c-header-nav;
        transition: all 0.4s;

        &:hover,
        &:focus {
            color: $c-active;
        }
    }

    &__btn {
        padding: 13px 50px;
    }
}

.header-logo {
    fill: $c-bg-btn;
}
