.product {
    padding: 120px 0 240px 0;

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 85px;
    }

    &__img {
        width: 638px;
        height: 570px;
        background-color: $c-bg-img;
        border-radius: 18px;
        background: $c-bg-img url(../../../assets/img/section-img2.png) no-repeat center;
    }

    &__wrapper {
        width: 45%;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 40px;
    }
}

.product-btn {
    padding: 20px 50px;
}
