.nav {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 42px;
    }

    &__link {
        font-weight: 500;
        font-size: $fs-main-text;
        line-height: 1.2;
        color: $c-header-nav;
        padding: 30px;
        transition: all 0.4s;

        &:hover,
        &:focus {
            color: $c-active;
        }
    }
}
